# goals.config
coefficients_created = is_true : coefficients_created
coefficients_inspected = is_true : coefficients_inspected
parity_embedding_completed = is_true : parity_embedding_completed
message_extracted = is_true : message_extracted
magnitude_analyzed = is_true : magnitude_analyzed
labtainer_outputs_ready = is_true : labtainer_outputs_ready
